{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}
{% block content %}

<div class="row">
    {% for board in boards %}
    <h6>
        <a href="{% url 'board:board_topics' board.pk %}">{{ board.name }}</a> <br>
        <hr>
    </h6>
    {% endfor %}
</div>
<div class="row">
<h1>Hot topics!</h1>
</div>
{% for hot in topics %}

<div class="row justify-content-center">
        <p>
            <a href="">{{ hot }}</a>
        </p>
    
</div>
{% endfor %}

{% endblock content %}